* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.logo {
    max-width: 80%;
    margin-bottom: 30px;
}

#story-content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#dm-message {
    margin-bottom: 20px;
}

#img-container {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#player-response {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

#player-response-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

#player_response {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
}

#player_response:focus {
    border-color: #0084ff;
}

button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

button:active {
    background-color:   #005cb2;
}

#load-text {
    display: none;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}

.start-recording {
    background-image: url("/static/microphone.png");

}

.stop-recording {
    background-image: url("/static/pause.png");
}