<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='character_creation.css') }}">
    <title>Create Your Player</title>
</head>

<body>
    <h1>Character Creation</h1>
    <form method="POST">
        <label for="player_name">Player Name:</label>
        <input type="text" id="player_name" name="player_name" required>
        <br>
        <label for="player_description">Player Description:</label>
        <input type="text" id="player_description" name="player_description" required>
        <br>
        <div id="attributes">
            <div> <label for="strength">Strength:</label>
                <input class="attr-input" type="range" id="strength" name="strength" min="1" max="5" value="1">
                <span id="strength-value">1</span>
                <br>
            </div>

            <div> <label for="Dexterity">Dexterity:</label>
                <input class="attr-input" type="range" id="dexterity" name="dexterity" min="1" max="5" value="1">
                <span id="dexterity-value">1</span>
                <br>
            </div>

            <div> <label for="Constitution">Constitution:</label>
                <input class="attr-input" type="range" id="constitution" name="constitution" min="1" max="5" value="1">
                <span id="constitution-value">1</span>
                <br>
            </div>

            <div> <label for="Intelligence">Intelligence:</label>
                <input class="attr-input" type="range" id="intelligence" name="intelligence" min="1" max="5" value="1">
                <span id="intelligence-value">1</span>
                <br>
            </div>

            <div> <label for="Wisdom">Wisdom:</label>
                <input class="attr-input" type="range" id="wisdom" name="wisdom" min="1" max="5" value="1">
                <span id="wisdom-value">1</span>
                <br>
            </div>

            <div> <label for="Charisma">Charisma:</label>
                <input class="attr-input" type="range" id="charisma" name="charisma" min="1" max="5" value="1">
                <span id="charisma-value">1</span>
                <br>
            </div>

        </div>
        <p>Total Attribute Points: <span id="total-attribute-points">0</span> / 15</p>
        <button id="submit-button" type="submit">Submit</button>
    </form>
    <script src="{{ url_for('static', filename='calcAttributes.js') }}" defer></script>
</body>

</html>