<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='gameplay.css') }}">
    <title>DungeonGPT: An AI-powered Dungeon Game</title>
</head>

<body>
    <img src="{{ url_for('static', filename='DungeonGPT.svg') }}" alt="DungeonGPT Logo" class="logo">
    <div id="story-content">
        <div id="loading-spinner" style="display: none;">
            <img src="{{ url_for('static', filename='spinner.gif') }}" alt="Loading...">
        </div>
        <div id="dm-message">
            {{ dungeon_master_message }}
        </div>
        <img id="img-container"
            src="{{ url_for('static', filename='spinner.gif') }}" alt="Image">
    </div>
    <div id="player-response">
        <button id="record-speech", class="start-recording"></button>"
        <form id="player-response-form">
            <input type="text" id="player_response" name="player_response" placeholder="What will you do?" required>
            <button type="submit">Send</button>
        </form>
        <p id="load-text">DungeonGPT is deciding your fate...</p>
    </div>
    <script src="{{ url_for('static', filename='gameplay.js') }}"></script>
</body>

</html>