<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DungeonGPT: An AI-powered Dungeon Game</title>
    <link rel="stylesheet" href="styles.css">
    <script src="app.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='DungeonGPT.svg') }}" alt="DungeonGPT Logo" class="logo">
        </header>
        <h1>Welcome to DungeonGPT!</h1>
        <p class="tagline">Embark on an epic adventure crafted by AI!</p>
        <h2>How to Play:</h2>
        <ol>
            <li>Click the button below to build a character to play with and choose the attributes carefully, as they will be deterministic in your success.</li>
            <li>Start the game and talk to the AI dungeon master to navigate through the game. Be creative in your responses, as they will ultimately decide how you maneuver through the game.</li>
        </ol>
        <div class="start-game">
            <a href="{{ url_for('character_creation') }}" class="start-game-button">Start Game</a>
        </div>
    </div>
</body>

</html>